<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>로그인 후 홈 화면</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body        { padding-top:80px; }
    	</style>
    
	</head>
	<body>
		
		<div class="container" align = "center">			
						
			<br>
		    <div class="row">
		            <div class="well" align = "center">  
                      <a href= '/process/community' class="btn btn-default btn-sm">커뮤니티</a> 
                      <a href="/process/rateclass" class="btn btn-default btn-sm">강의 평가</a>  
                      <a href="https://www.hanyang.ac.kr/web/eng/main-notices" class="btn btn-default btn-sm">공지시항</a> 
                      <a href="/process/showdefaulttimetable" class="btn btn-default btn-sm" method = "post">시간표</a> 
                      <a href="/logout" class="btn btn-default btn-sm" method = "post">로그아웃</a>
		            </div>
		    </div>
			
		</div>	
			
	</body>
</html>